$base: #1b2835;
$brand: #2ab759;
$darker-brand: #25a24f;
$accent: #fdd417;
$alternative: #888586;
$clear: #fff;

@font-face {
    font-family: Cera;
    src: url("../fonts/Cera-Regular.ttf");
}

@font-face {
    font-family: Cera;
    src: url("../fonts/Cera-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Cera;
    src: url("../fonts/Cera-Bold.ttf");
    font-weight: bold;
}

* {
    /*Improves text render of -webkit browser*/
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 1px rgba (0, 0, 0, 0.1);
    /*Ensures that long strings do not display outside their container*/
    word-break: break-word;
    overflow-wrap: break-word;
    /*
	Ensures that elements deduct their padding and margin 
	declaration from the parent container thus not interfering with the set layout.
  */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

html,
body {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: flex;
}

body {
    position: relative;
    background: url("../images/stock.png"), $base;
    background-position: 50% 50%;
    background-blend-mode: luminosity;
    @include cover;
    background-attachment: fixed;
    font-size: 16px;
    font-size: 1em;
    line-height: 1.4;
    font-family: Cera, "Sans-serif";
    font-weight: 400;
    z-index: -1;

    &.single {
        background: url("../images/fx-about.png"), $base;
        background-blend-mode: overlay;
        @include cover;
        background-attachment: fixed;
    }

    &.about {
        background-image: url("../images/fx-about.png");
        background-blend-mode: unset;
        background-position: 0% 0%;
        @include cover;
    }

    &.contact {
        background: url("../images/stock.png"), $base;
        background-blend-mode: luminosity;
        @include cover;
        background-position: 50% 50%;
        background-attachment: fixed;
    }

    .article {
        position: absolute;
        width: 100vw;
        min-height: 100vh;
        height: auto;
        left: 0px;
        @include transition(all 1000ms cubic-bezier(0.6,
                0.04,
                0,
                0.94));
        overflow: hidden;

        &:before {
            @include pseudo;
            width: 100%;
            height: 100%;
            z-index: -1;
            @include transition(all 1000ms cubic-bezier(0.6,
                    0.04,
                    0,
                    0.94));
            background: transparentize(#000000, 1);
            left: 0px;
        }
    }

    .noScroll {
        width: 100vw;
        min-height: 100vh;
        height: auto;
        overflow: hidden;
    }

    &.nav__open {
        width: 100vw;
        min-height: 100vh;
        height: auto;

        //overflow: hidden;
        .article {
            left: 400px;

            &:before {
                @include pseudo;
                width: 100%;
                height: 100%;
                z-index: 4;
                @include transition(background 1000ms cubic-bezier(0.6,
                        0.04,
                        0,
                        0.94));
                background: transparentize(#000000, 0.5);
                left: 0px;
            }
        }
    }
}


/* Text Selection and Placeholders *-------------------------------------------------------*/

::-moz-selection {
    background: $accent;
    color: #ffffff;
    text-shadow: none;
}

::selection {
    background: $accent;
    color: $clear;
    text-shadow: none;
}

::-webkit-input-placeholder {
    color: #9b9b9b;
    font-size: 0.875em;
    /* 14/16 */
    text-align: left;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #9b9b9b;
    font-size: 0.875em;
    /* 14/16 */
    text-align: left;
}

:-ms-input-placeholder {
    color: #9b9b9b;
    font-size: 0.875em;
    /* 14/16 */
    text-align: left;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #9b9b9b;
    font-size: 0.875em;
    /* 14/16 */
    text-align: center;
}

// .animate-in {
//   opacity: 1;
//   @include transform(translateY(-10%));
//   @include transition(all 300ms ease-in-out);
// }
// .animate-out {
//   opacity: 0;
//   @include transform(translateX(-100%));
//   @include transition(all 300ms ease-in-out);
// }
// @for $i from 1 to 10 {
//   .animate-in {
//     animation-delay: $i * 0.25s;
//   }
//   .animate-out {
//     animation-delay: $i * 0.25s;
//   }
// }
//transitions
$ease-out-in: cubic-bezier(0.6,
    0.04,
    0,
    0.94);
$fast-out-slow-in: cubic-bezier(0.04,
    0.5,
    0.16,
    1.01);

// @media screen and (min-height: 320px) {
//   html,
//   body {
//     min-height: 640px;
//     height: auto;
//     overflow-x: hidden;
//     overflow-y: unset;
//   }
//   body {
//     &.noScroll {
//       overflow-y: scroll;
//     }
//     &.nav__open {
//       overflow-y: scroll;
//     }
//   }
// }
// @media screen and (max-width: 475px) {
//   body {
//     background-position: 50% 50%;
//     &.noScroll {
//       //overflow-y: ;
//     }
//     &.nav__open {
//       overflow-y: scroll;
//     }
//   }
// }
@media screen and (max-width: 768px) {
    body {
        background-position: 50% 50%;
    }
}

@media screen and (max-width: 475px) {
    body {
        background-position: 50% 50%;
    }
}

@media screen and (max-height: 700px) {

    html,
    body {
        overflow-y: scroll;
        height: auto;

        &.contact .article {
            height: 100%;
            overflow-y: scroll;
        }
    }
}

.hidden {
    display: none;
    visibility: hidden;
}