.preloader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    background: url("../images/stock.png"), $base;
    background-blend-mode: luminosity;
    @include cover;
    z-index: 1000;
    @include transition(all 300ms ease-in-out);
    overflow: hidden;
    .background-image {
        @extend %luminous-background;
    }
    &.is-active {
        opacity: 1;
    }
    .content {
        position: relative;
        height: 200px;
        width: 100px;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        .logo {
            position: relative;
            width: 100px;
            height: 100px;
            @include transition(all 300ms ease-in-out);
            img {
                height: 100%;
            }
        }
        .loader {
            position: relative;
            width: 100px;
            height: 70px;
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.5;
            letter-spacing: 0.9px;
            text-align: center;
            .text {
                padding: 25px 0 0 0;
                color: $alternative;
            }
            .progress {
                padding: 10px 0 0 0;
                color: $brand;
            }
        }
    }
}