header {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 50px;
    z-index: 3;
    //   background-color: red;
    .header__content {
        position: relative;
        width: 80%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        @include push--auto;
        .main__logo {
            width: 60px;
            img {
                width: 60px;
            }
        }
        .call-to-action {
            height: 60px;
            color: $brand;
            font-size: 11px;
            line-height: 2.5;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.9px;
            text-align: center;
            text-transform: uppercase;
            padding: 15px 0;
            background: transparent;
            span {
                position: relative;
                &:before {
                    @include pseudo;
                    width: 16px;
                    height: 16px;
                    top: 0;
                    left: -36px;
                    background: url("../images/inquiry.svg");
                    @include contain;
                }
            }
        }
        .header__menu__toggle {
            height: 25px;
            width: 25px;
            position: absolute;
            top: 0%;
            right: 0;
            margin: 25px;
            display: none;
            .burger {
                display: block;
                width: 24px;
                height: 20px;
                z-index: 999;
                position: relative;
                top: 0;
                -webkit-filter: flipH;
                @include transform(rotateY(180deg));
                @include transition(600ms $ease-out-in);
                cursor: pointer;
                span {
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    background: $alternative;
                    opacity: 1;
                    left: 0;
                    @include transform(rotate(0deg));
                    @include transition(600ms $ease-out-in);
                    &:nth-child(1) {
                        top: 0px;
                    }
                    &:nth-child(2) {
                        top: 7px;
                        width: 80%;
                        @include transition(600ms $ease-out-in);
                    }
                    &:nth-child(3) {
                        top: 14px;
                        width: 60%;
                    }
                }
                &.open span {
                    &:nth-child(1) {
                        top: 8px;
                        width: 100%;
                        background: $alternative;
                        @include transform(rotate(135deg));
                    }
                    &:nth-child(2) {
                        opacity: 0;
                        left: -60px;
                    }
                    &:nth-child(3) {
                        top: 8px;
                        width: 100%;
                        background: $alternative;
                        @include transform(rotate(-135deg));
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        z-index: 999;
        .header__content {
            .call-to-action {
                display: none;
            }
            .header__menu__toggle {
                display: block;
                height: 20px;
                margin: 30px 25px;
                .burger {
                    span {
                        background: $clear;
                    }
                    &.open span {
                        &:nth-child(1) {
                            top: 8px;
                            width: 100%;
                            background: $clear;
                            @include transform(rotate(135deg));
                        }
                        &:nth-child(3) {
                            top: 8px;
                            width: 100%;
                            background: $clear;
                            @include transform(rotate(-135deg));
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 475px) {
    header {
        position: absolute;
        width: 100%;
        height: 80px;
        top: 50px;
        z-index: 999;
        //   background-color: red;
        .header__content {
            width: 80%;
            height: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            @include push--auto;
            .main__logo {
                height: 80px;
                width: 80px;
                img {
                    width: 100%;
                }
            }
            .call-to-action {
                display: none;
            }
            .header__menu__toggle {
                display: block;
                height: 20px;
                margin: 30px 25px;
                .burger {
                    span {
                        background: $clear;
                    }
                    &.open span {
                        &:nth-child(1) {
                            top: 8px;
                            width: 100%;
                            background: $clear;
                            @include transform(rotate(135deg));
                        }
                        &:nth-child(3) {
                            top: 8px;
                            width: 100%;
                            background: $clear;
                            @include transform(rotate(-135deg));
                        }
                    }
                }
            }
        }
    }
}