body.modal__open {
    .menu__right {
        &.fixed {
            background: transparentize($brand, 1);
        }
    }
}

.menu__left {
    position: fixed;
    top: 50%;
    left: 20px;
    height: 50px;
    width: 50px;
    z-index: 999;
    transform: translateY(-50%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    &.fixed {
        position: fixed;
    }
    .menu__toggle {
        position: relative;
        width: 24px;
        height: 14px;
        perspective: 1000px;
        .burger {
            display: block;
            width: 24px;
            height: 20px;
            z-index: 999;
            position: relative;
            top: 0;
            @include transform(rotate(0deg));
            @include transition(600ms cubic-bezier(0.6, 0.04, 0, 0.94));
            cursor: pointer;
            span {
                position: absolute;
                height: 2px;
                width: 100%;
                background: $alternative;
                opacity: 1;
                left: 0;
                @include transform(rotate(0deg));
                @include transition(600ms cubic-bezier(0.6, 0.04, 0, 0.94));
                &:nth-child(1) {
                    top: 0px;
                }
                &:nth-child(2) {
                    top: 7px;
                    width: 80%;
                    @include transition(600ms cubic-bezier(0.6, 0.04, 0, 0.94));
                }
                &:nth-child(3) {
                    top: 14px;
                    width: 60%;
                }
            }
            &.open span {
                &:nth-child(1) {
                    top: 8px;
                    width: 100%;
                    background: $alternative;
                    @include transform(rotate(135deg));
                }
                &:nth-child(2) {
                    opacity: 0;
                    left: -60px;
                }
                &:nth-child(3) {
                    top: 8px;
                    width: 100%;
                    background: $alternative;
                    @include transform(rotate(-135deg));
                }
            }
        }
    }
}

.menu__right {
    @extend .hidden;
    position: absolute;
    top: 50%;
    right: 0;
    height: 50px;
    width: auto;
    z-index: 999;
    transform: translateY(-50%);
    a {
        color: $brand;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 50px;
        letter-spacing: 0.9px;
        text-align: center;
        padding: 10px 40px;
    }
    &.fixed {
        position: fixed;
        height: 100vh;
        width: 10vw;
        max-width: 10vw;
        right: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        padding: 30px 0;
        background: $brand;
        a {
            color: $base;
            padding: 20px 10px;
            img {
                width: 13px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .menu__left,
    .menu__right {
        display: none;
    }
}

@media screen and (max-width: 475px) {
    .menu__right {
        &.fixed {
            display: none;
        }
    }
}