.hero {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;

    .project__carousel {
        position: relative;
        width: 100%;
        margin: 0 auto;
        height: 100%;

        .owl-stage-outer {
            position: absolute;
            top: 0;

            .owl-stage {
                display: flex;
                flex-flow: row nowrap;
                position: absolute;
                top: 0;

                .owl-item {
                    position: relative;
                    opacity: 0;
                    @include transition(all 1000ms $ease-out-in);

                    &.active {
                        opacity: 1;
                    }

                    .project__item {
                        width: 80%;
                        margin: 0 auto;

                        .project__video {
                            position: absolute;
                            width: 800px;
                            height: 400px;
                            top: 220px;
                            left: 400px;
                            z-index: 1;
                            overflow: hidden;
                            @include cover;
                            background-position: 50% 50%;
                            @include transition(width 1000ms $ease-out-in, height 1000ms $ease-out-in, top 1000ms $ease-out-in, left 1000ms $ease-out-in, background-blend-mode 1000ms $ease-out-in);

                            .project__rendered {
                                position: absolute;
                                width: 800px;
                                height: 400px;
                                top: 0;
                                left: 0;
                                z-index: 1;
                                overflow: hidden;
                                // mix-blend-mode: hue;
                                @include cover;
                                background-position: 50% 50%;
                                opacity: 0;
                                @include transition(width 1000ms $ease-out-in, height 1000ms $ease-out-in, top 1000ms $ease-out-in, left 1000ms $ease-out-in, background-blend-mode 1000ms $ease-out-in, opacity 1000ms $fast-out-slow-in);

                                &.loaded {
                                    width: 100vw;
                                    height: 100vh;
                                    left: 0;
                                    top: 0;

                                    .action__btn {
                                        display: none;
                                        top: 90%;
                                        right: 10%;
                                        background: url("../images/pause-btn.svg");
                                        background-size: contain;
                                    }
                                }
                            }

                            &:hover {
                                .project__rendered {
                                    opacity: 1;
                                }
                            }

                            &:before {
                                @include pseudo;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                background: rgba(0, 0, 0, 0.3);
                                z-index: 1;
                            }

                            .action__btn {
                                display: none;
                                position: absolute;
                                top: 270px;
                                right: 130px;
                                width: 70px;
                                height: 70px;
                                z-index: 2;
                                @include transition(all 1000ms $ease-out-in);
                                transition-delay: 100ms;
                                background: url("../images/play-btn.svg");
                                background-size: contain;
                                cursor: pointer;
                            }

                            &.loaded {
                                width: 100vw;
                                height: 100vh;
                                left: 0;
                                top: 0;

                                .action__btn {
                                    top: 90%;
                                    right: 10%;
                                    background: url("../images/pause-btn.svg");
                                    background-size: contain;
                                }
                            }

                            video {
                                height: 100%;
                                @include cover;
                            }
                        }

                        .main__title {
                            position: relative;
                            top: 120px;
                            width: 400px;
                            z-index: 2;

                            h1 {
                                color: $brand;
                                height: 264px;
                                font-size: 100px;
                                font-weight: bold;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 1.1;
                                letter-spacing: normal;
                            }
                        }

                        .view__case__study {
                            position: absolute;
                            height: 50px;
                            padding: 5px 0;
                            top: 540px;
                            left: 250px;
                            color: $clear;
                            text-transform: uppercase;
                            font-size: 12px;
                            font-weight: bold;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 2.5;
                            letter-spacing: 0.9px;
                            text-align: center;
                            z-index: 2;
                        }
                    }
                }
            }
        }
    }

    .project__controls {
        position: absolute;
        width: 50%;
        left: 480px;
        height: 20px;
        top: 660px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        z-index: 3;
        @include push--auto;

        .owl-dots {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            position: absolute;
            height: 100%;
            z-index: 1;

            .owl-dot {
                position: relative;
                top: 50%;
                @include transform(translateY(-50%));
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: $clear;
                margin-right: 24px;
                @include transition(all 300ms ease-in-out);

                &:last-child {
                    margin-right: 0px;
                }

                &.active {
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    border: 1px solid $accent;
                    background: transparent;

                    &:before {
                        display: none;
                    }
                }
            }
        }

        .owl-directions {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            position: absolute;
            right: 0;
            width: 57 + 16px;
            height: 13px;
            z-index: 2;

            .owl-prev {
                height: 20px;
                color: $clear;
                background: none;
                border: none;
                font-size: 30px;
                cursor: pointer;
                line-height: 20px;
                @include transition(all 300ms ease-in-out);

                &:hover {
                    span {
                        @include transform(translateX(-3px));
                    }
                }
            }

            .owl-next {
                height: 20px;
                color: $clear;
                background: none;
                border: none;
                font-size: 30px;
                cursor: pointer;
                line-height: 20px;
                @include transition(all 300ms ease-in-out);

                &:hover {
                    span {
                        @include transform(translateX(3px));
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .hero {
        .project__carousel {
            .owl-stage-outer {
                .owl-stage {
                    .owl-item {
                        .project__item {
                            .project__video {
                                left: 15px;
                            }
                        }
                    }
                }
            }
        }

        .project__controls {
            width: 80%;
            left: 10%;
            top: 850px;
            z-index: 3;
            @include push--auto;

            .owl-directions {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .hero {
        width: 100vw;
        overflow-x: hidden;
        min-height: 640px;
        height: auto;

        .project__carousel {
            .owl-stage-outer {
                .owl-stage {
                    .owl-item {
                        .project__item {
                            width: 80%;
                            margin: 0 auto;

                            .project__video {
                                height: 400px;
                                left: 0;
                                top: 300px;
                                filter: brightness(0.8);

                                .project__rendered {
                                    height: 400px;
                                    left: 0;
                                    top: 0;
                                    filter: brightness(0.8);
                                }

                                .action__btn {
                                    display: none;
                                }

                                &.loaded {
                                    width: 100vw;
                                    height: 100vh;
                                    left: 0;
                                    top: 0;
                                }

                                img {
                                    height: 100%;
                                    @include cover;
                                }
                            }

                            .main__title {
                                top: 150px;
                                width: 100%;

                                h1 {
                                    color: $brand;
                                    width: 80%;
                                    height: auto;
                                    font-size: 80px;
                                }
                            }

                            .view__case__study {
                                top: 640px;
                                left: 100px;
                            }
                        }
                    }
                }
            }
        }

        .project__controls {
            width: 80%;
            left: 10%;
            top: 850px;
            z-index: 3;
            @include push--auto;

            .owl-directions {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 475px) {
    .hero {
        width: 100vw;
        overflow-x: hidden;
        min-height: 640px;
        height: auto;

        .project__carousel {
            .owl-stage-outer {
                .owl-stage {
                    .owl-item {
                        .project__item {
                            width: 80%;
                            margin: 0 auto;

                            .project__video {
                                height: 346px;
                                left: 0;
                                width: 100vw;
                                overflow: hidden;
                                top: 320px;
                                filter: brightness(1);

                                .project__rendered {
                                    height: 346px;
                                    width: 100vw;
                                    overflow: hidden;
                                    filter: brightness(1);
                                }

                                .action__btn {
                                    display: none;
                                }

                                &.loaded {
                                    width: 100vw;
                                    height: 100vh;
                                    left: 0;
                                    top: 0;
                                }

                                img {
                                    height: 100%;
                                    @include cover;
                                }
                            }

                            .main__title {
                                top: 160px;
                                width: 100%;

                                h1 {
                                    color: $brand;
                                    width: 80%;
                                    height: auto;
                                    font-size: 44px;
                                }
                            }

                            .view__case__study {
                                top: 550px !important;
                                left: 40px;
                                color: $clear;
                                padding-bottom: 100px;

                            }
                        }
                    }
                }
            }
        }

        .project__controls {
            display: none;
            @include push--auto;

            .owl-directions {
                display: none;
            }
        }
    }
}