.single__project {
  position: relative;
  width: 90vw;
  overflow: hidden;
  .content {
    display: block;
    width: 70%;
    @include push--auto;
    .project__title {
      width: 218px;
      height: 18px;
      @include push--auto;
      margin-top: 185px;
      h3 {
        color: $brand;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 20px;
        text-align: center;
      }
    }
    .project__subtitle {
      width: 543px;
      height: 34px;
      @include push--auto;
      margin-top: 40px;
      h1 {
        color: $brand;
        font-size: 34px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 56.7px;
        text-align: center;
      }
    }
    .project__description {
      width: 602px;
      height: 160px;
      margin-top: 60px;
      @include push--auto;
      p {
        color: $clear;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.86;
        letter-spacing: 0.5px;
        text-align: center;
      }
    }
    .project__pre {
      height: 40px;
      @include push--auto;
      margin-top: 50px;
      margin-bottom: 34px;
      text-align: center;
      h4 {
        color: $brand;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.86;
        letter-spacing: 10px;
      }
    }
    .project__showcase {
      display: flex;
      flex-flow: column nowrap;
      margin-bottom: 110px;
      .showcase__grid {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-left: -8px; /* Adjustment for the gutter */
        .grid__item {
          flex: auto;
          height: auto;
          width: 33.3%;
          margin: 0 11px 11px 0;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .project__excerpt {
      width: 724px;
      height: 152px;
      margin-left: 110px;
      margin-bottom: 33px;
      p {
        color: $clear;
        font-size: 22px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.55;
        letter-spacing: 0.1px;
      }
    }
    .project__details {
      display: flex;
      flex-flow: row nowrap;
      margin-left: 110px;
      margin-bottom: 100px;
      .project__brief {
        margin-right: 70px;
        width: 50%;
        .brief__title {
          margin-bottom: 12px;
          color: $brand;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 3.33;
          letter-spacing: 4.3px;
        }
        .brief__description {
          color: $clear;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.07;
          letter-spacing: 0.1px;
        }
      }
      .project__process {
        width: 50%;
        .process__title {
          margin-bottom: 12px;
          color: $brand;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 3.33;
          letter-spacing: 4.3px;
        }
        .process__description {
          color: $clear;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.07;
          letter-spacing: 0.1px;
        }
      }
    }
  }
  .project__footer__image {
    top: 80%;
    width: 100vw;
    opacity: 0.14;
    mix-blend-mode: color-burn;
    position: absolute;
    img {
      width: 100%;
    }
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 475px) {
  .single__project {
    width: 100vw;
    .content {
      display: block;
      width: 80%;
      @include push--auto;
      .project__title {
        margin-top: 200px;
        margin-left: 0;
        h3 {
          font-size: 12px;
          letter-spacing: 13.3px;
          text-align: left;
        }
      }
      .project__subtitle {
        width: 100%;
        height: 16px;
        @include push--auto;
        margin-top: 14px;
        h1 {
          color: $brand;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 26.7px;
          text-align: left;
        }
      }
      .project__description {
        width: 100%;
        height: auto;
        margin-top: 30px;
        @include push--auto;
        p {
          color: $clear;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.71;
          text-align: left;
        }
      }
      .project__pre {
        height: 40px;
        @include push--auto;
        margin-top: 70px;
        margin-bottom: 34px;
        text-align: left;
        h4 {
          font-size: 12px;
          line-height: 3.33;
        }
      }
      .project__showcase {
        display: flex;
        flex-flow: column wrap;
        margin-bottom: 60px;
        @include transform(translateX(-10%));
        .showcase__grid {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          margin-left: -8px; /* Adjustment for the gutter */
          .grid__item {
            flex: auto;
            height: 192px;
            width: 33.3%;
            margin: 0 11px 11px 0;
            overflow: hidden;
            img {
              width: auto;
              height: 100%;
            }
          }
        }
      }
      .project__excerpt {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-bottom: 33px;
        p {
          font-size: 18px;
        }
      }
      .project__details {
        display: flex;
        flex-flow: column nowrap;
        margin-left: 0;
        margin-bottom: 100px;
        .project__brief {
          margin-right: 0px;
          width: 100%;
          margin-bottom: 30px;
        }
        .project__process {
          width: 100%;
        }
      }
    }
    .project__footer__image {
      top: 100%;
      img {
        width: 100%;
      }
    }
  }
}
