.about-us {
    min-height: 100vh;
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;

    .about__us__content {
        position: relative;
        width: 80%;
        z-index: 1;
        @include push--auto;

        .main__title {
            margin-top: 200px;
            margin-left: 150px;
            width: 50%;
            margin-bottom: 30px;

            h1 {
                color: $clear;
                font-size: 18px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 20px;
            }
        }

        .description {
            width: 70%;
            margin-bottom: 50px;
            margin-left: 150px;

            p {
                margin-bottom: 20px;
                color: $brand;
                font-size: 22px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.55;
                letter-spacing: 0.1px;
            }
        }
    }

    .what-we-do {
        height: auto;
        width: 50%;
        position: relative;
        margin-left: 500px;
        z-index: 0;

        .what__we__do__content {
            position: relative;
            z-index: 1;

            .main__title {
                width: 100%;

                h1 {
                    color: $brand;
                    font-size: 12px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 3.33;
                    letter-spacing: 4.3px;
                }
            }

            .description {
                width: 100%;

                p {
                    color: $clear;
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 2.07;
                    letter-spacing: 0.1px;
                    margin-bottom: 20px;
                }
            }

            .what__we__do__list {
                list-style: disc;
                padding-left: 30px;
                color: $clear;
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                height: 100px;
                display: flex;
                flex-flow: column wrap;
                margin-bottom: 40px;

                .list__item {
                    padding: 5px 0;
                }
            }
        }
    }

    .top__image {
        position: absolute;
        right: 10%;
        top: 00px;
        width: 330px;
        overflow: hidden;
        z-index: 0;
        opacity: 0.4;

        img {
            width: 100%;
        }
    }

    .bottom__image {
        position: absolute;
        left: 10%;
        bottom: 0px;
        width: 330px;
        overflow: hidden;
        z-index: 0;
        opacity: 0.4;

        img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .about-us {
        .about__us__content {
            .main__title {
                margin-top: 240px;
                margin-left: 50px;
                width: 100%;
                margin-bottom: 30px;
            }

            .description {
                width: 80%;
                margin-bottom: 80px;
                margin-left: 50px;

                p {
                    font-size: 18px;
                }
            }
        }

        .what-we-do {
            height: auto;
            width: 100%;
            margin-left: 50px;

            .what__we__do__content {
                position: relative;
                width: 80%;
                @include push--auto;
                z-index: 1;

                .main__title {
                    width: 100%;

                    h1 {
                        color: $brand;
                        font-size: 12px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 3.33;
                        letter-spacing: 4.3px;
                    }
                }

                .description {
                    width: 80%;

                    p {
                        color: $clear;
                        font-size: 14px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 2.07;
                        letter-spacing: 0.1px;
                        margin-bottom: 20px;
                    }
                }

                .what__we__do__list {
                    list-style: disc;
                    padding-left: 30px;
                    color: $clear;
                    font-size: 14px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    height: 200px;
                    display: flex;
                    flex-flow: column wrap;
                    margin-bottom: 40px;

                    .list__item {
                        padding: 5px 0;
                    }
                }
            }
        }

        .top__image {
            position: absolute;
            right: 10%;
            top: 00px;
            width: 330px;
            overflow: hidden;
            z-index: 0;
            opacity: 0.4;

            img {
                width: 100%;
            }
        }

        .bottom__image {
            position: absolute;
            left: 10%;
            bottom: 0px;
            width: 330px;
            overflow: hidden;
            z-index: 0;
            opacity: 0.4;

            img {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 475px) {
    .about-us {
        position: relative;
        height: auto;
        width: 100%;
        overflow: hidden;

        .about__us__content {
            width: 80%;
            @include push--auto;

            .main__title {
                width: 100%;
                margin-top: 200px;
                margin-bottom: 30px;
                margin-left: 0;

                h1 {
                    letter-spacing: 10px;
                    font-size: 16px;
                }
            }

            .description {
                margin-bottom: 40px;
                margin-left: 0;
                width: 100%;

                p {
                    font-size: 16px;
                    line-height: 1.75;
                }
            }
        }

        .what-we-do {
            height: auto;
            width: 100%;
            margin-left: 0;

            .what__we__do__content {
                position: relative;
                width: 80%;
                margin: 0px auto 50px auto;
                z-index: 2;

                .main__title {
                    width: 100%;
                    margin-bottom: 10px;

                    h1 {
                        font-size: 12px;
                    }
                }

                .description {
                    width: 100%;

                    p {
                        font-size: 14px;
                    }
                }

                .what__we__do__list {
                    height: auto;
                    display: flex;
                    flex-flow: column nowrap;

                    .list__item {
                        padding: 5px 0;
                    }
                }
            }
        }

        .top__image {
            right: -20%;
            top: 220px;
        }

        .bottom__image {
            position: absolute;
            left: -20%;
            top: auto;
            bottom: 0px;
        }
    }
}