.offcanvas {
    position: absolute;
    width: 764px;
    min-height: 110vh;
    height: 640px;
    left: -800px;
    top: 0;
    background-color: $base;
    z-index: 99;
    box-shadow: 0 2px 76px 0 rgba(0, 0, 0, 0.5);
    @include transition(all 1000ms $ease-out-in);
    &.open {
        left: 0;
    }
    .offcanvas__inner {
        position: relative;
        min-height: 100vh;
        width: 400px;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        ul {
            height: 50%;
            width: 100%;
            margin-top: 75px;
            li {
                padding: 25px 0;
                &.is-active {
                    a {
                        @include transition(all 300ms ease-in-out);
                        width: 100%;
                        padding-left: 6%;
                        color: $brand;
                        &:after {
                            display: block;
                        }
                    }
                }
                a {
                    position: relative;
                    color: $clear;
                    font-size: 18px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 10px;
                    text-transform: uppercase;
                    z-index: 2;
                    @include transition(all 300ms ease-in-out);
                    transition-delay: 300ms;
                    padding: 25px 0;
                    &:after {
                        @include pseudo;
                        height: 2px;
                        width: 106%;
                        background: $accent;
                        top: 50%;
                        @include transform(translateY(-50%));
                        z-index: 1;
                        @include transition(all 300ms ease-in-out);
                        display: none;
                    }
                }
                &:hover {
                    a {
                        padding-left: 6%;
                    }
                }
            }
        }
        .offcanvas__footer {
            height: 50px;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            position: relative;
            margin-bottom: 100px;
            .telephone {
                width: 50%;
                @include transition(all 300ms ease-in-out);
                a {
                    color: $accent;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 5.39;
                    letter-spacing: normal;
                    @include transition(all 300ms ease-in-out);
                }
                &:hover {
                    @include transform(translateY(-2px));
                    a {
                        text-shadow: 0.3px 4px 4px #000;
                    }
                }
            }
            .email {
                width: 50%;
                @include transition(all 300ms ease-in-out);
                a {
                    color: $accent;
                    font-size: 18px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 5.39;
                    letter-spacing: normal;
                    text-align: center;
                    @include transition(all 300ms ease-in-out);
                }
                &:hover {
                    @include transform(translateY(-2px));
                    a {
                        text-shadow: 0.3px 4px 4px #000;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .offcanvas {
        width: 600px;
        left: -800px;
        min-height: 110vh;
        height: 640px;
        .offcanvas__inner {
            height: 100%;
            width: 60%;
            ul {
                width: 100%;
                margin-top: 200px;
                li {
                    padding: 25px 0;
                    &.is-active {
                        a {
                            &:after {
                                height: 2px;
                            }
                        }
                    }
                    a {
                        position: relative;
                        color: $clear;
                        font-size: 18px;
                    }
                }
            }
            .offcanvas__footer {
                height: auto;
                width: 100%;
                flex-flow: column nowrap;
                justify-content: flex-start;
                position: relative;
                margin-bottom: 100px;
                .telephone {
                    width: 100%;
                    a {
                        font-size: 18px;
                    }
                }
                .email {
                    width: 100%;
                    a {
                        color: $accent;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 475px) {
    .offcanvas {
        width: 100vw;
        min-height: 110vh;
        height: 640px;
        left: -800px;
        .offcanvas__inner {
            height: 100%;
            width: 70%;
            @include push--auto;
            ul {
                width: 100%;
                margin-top: 150px;
                li {
                    padding: 25px 0;
                    &.is-active {
                        a {
                            &:after {
                                height: 2px;
                            }
                        }
                    }
                    a {
                        position: relative;
                        color: $clear;
                        font-size: 14px;
                    }
                }
            }
            .offcanvas__footer {
                height: auto;
                width: 100%;
                flex-flow: column nowrap;
                justify-content: flex-start;
                position: relative;
                margin-bottom: 100px;
                .telephone {
                    width: 100%;
                    a {
                        font-size: 14px;
                    }
                }
                .email {
                    width: 100%;
                    a {
                        color: $accent;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}