.works__modal__wrapper {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  background: $base;
  display: block;
  @include transition(all 800ms $ease-out-in);
  z-index: 1000;
  visibility: hidden;
  .works__item {
    @include transition(all 300ms $ease-out-in);
  }
  &.is-active {
    @include transform(translateX(-100%));
    visibility: visible;
    .works__item {
      @include animation(slideInLeft);
    }
  }
  .works-modal {
    width: 80%;
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
    top: 180px;
    .works__inner {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      width: 100%;
      padding-bottom: 40px;
      .works__item {
        height: auto;
        width: 33.3%;
        .featured__image {
          height: 500px;
          overflow: hidden;
          img {
            width: 100%;
            height: auto;
          }
        }
        .category {
          color: $brand;
          text-transform: uppercase;
          padding: 30px 0;
          font-size: 12px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.9px;
        }

        .works__title {
          color: $clear;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
        }
      }
    }
  }
  .works__modal__close {
    position: absolute;
    top: 80px;
    left: 30%;
    width: 70px;
    height: 70px;
    overflow: hidden;
    a {
      width: 70px;
      height: 70px;
      img {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .works__modal__wrapper {
    width: 100vw;
    height: 100%;
    .works-modal {
      width: 80%;
      .works__inner {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        width: 90%;
        padding-bottom: 40px;
        @include push--auto;
        .works__item {
          height: auto;
          width: 100%;
          .featured__image {
            width: 100%;
            height: auto;
            overflow: hidden;
            img {
              width: 100%;
              height: auto;
            }
          }
          .category {
            color: $brand;
            text-transform: uppercase;
            padding: 30px 0;
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.9px;
          }

          .works__title {
            color: $clear;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            padding-bottom: 60px;
          }
        }
      }
    }
    .works__modal__close {
      position: absolute;
      top: 80px;
      left: 30%;
      width: 70px;
      height: 70px;
      overflow: hidden;
      a {
        width: 70px;
        height: 70px;
        img {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 475px) {
  .works__modal__wrapper {
    width: 100vw;
    height: auto;
    .works-modal {
      width: 80%;
      .works__inner {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        width: 90%;
        padding-top: 50px;
        padding-bottom: 40px;
        @include push--auto;
        .works__item {
          height: auto;
          width: 100%;
          .featured__image {
            width: 100%;
            height: auto;
            overflow: hidden;
            img {
              width: 100%;
              height: auto;
            }
          }
          .category {
            color: $brand;
            text-transform: uppercase;
            padding: 30px 0;
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.9px;
          }

          .works__title {
            color: $clear;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            padding-bottom: 60px;
          }
        }
      }
    }
    .works__modal__close {
      position: absolute;
      left: 30%;
      width: 70px;
      height: 70px;
      overflow: hidden;
      a {
        width: 70px;
        height: 70px;
        img {
          width: 100%;
        }
      }
    }
  }
}
