.portfolio {
    position: relative;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    .title {
        position: relative;
        width: 425px;
        height: 24px;
        margin: 0 auto;
        margin-top: 100px;

        h1 {
            color: $brand;
            text-transform: uppercase;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 32px;
            margin: 0 auto;
        }
    }

    .portfolio__inner {
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        margin-top: 70px;

        .portfolio__item {
            .featured__image {
                position: relative;
                width: 387px;
                height: 387px;
                opacity: 0.75;
                @include cover;
                overflow: hidden;

                .play__btn {
                    background: url('../images/play-btn-light.png');
                    position: absolute;
                    width: 60px;
                    height: 60px;
                    top: 50%;
                    left: 50%;
                    background-size: contain;
                    @include transform(translate(-50%, -50%));
                    cursor: pointer;
                    //border: 1px solid red;
                }

                img {
                    width: 100%;
                }
            }

            .category {
                color: $brand;
                font-size: 12px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 2.5;
                letter-spacing: 0.9px;
                text-align: left;
                text-transform: uppercase;
                margin-top: 25px;
                margin-bottom: 10px;
            }

            .portfolio__title {
                color: $clear;
                font-size: 18px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
            }
        }
    }
}

.portfolio__modal__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $base;
    display: block;
    @include transition(all 1200ms $ease-out-in);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;

    .works__item {
        @include transition(all 300ms $ease-out-in);
    }

    &.is-active {
        opacity: 1;
        visibility: visible;

        .works__item {
            @include animation(slideInLeft);
        }
    }

    .portfolio-modal {
        width: 100%;
        position: absolute;

        .portfolio__video {
            background: #1a1818;
            height: 100vh;
            width: 100vw;
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            video {
                width: 100%;
            }
        }
    }

    .portfolio__modal__close {
        position: absolute;
        top: 40px;
        right: 20%;
        width: 50px;
        height: 50px;
        overflow: hidden;

        a {
            width: 50px;
            height: 50px;

            img {
                width: 100%;
            }
        }
    }
}