.contact-us {
    width: 100vw;
    height: 100vh;
    border: solid thin transparent;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    .contact__us__content {
        position: relative;
        width: 80%;
        height: auto;
        @include push--auto;
        margin-bottom: 50px;
        flex: 1 0 auto;

        //min-height: 540px;
        .main__title {
            width: 100%;
            height: auto;
            margin-top: 220px;

            h1 {
                color: $clear;
                font-size: 74px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.19;
                letter-spacing: normal;
                margin-bottom: 37px;
            }
        }

        .description {
            width: 70%;

            p {
                color: $clear;
                font-size: 22px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.55;
                letter-spacing: 0.1px;
            }
        }
    }

    .footer {
        position: relative;
        background: $darker-brand;
        height: 243px;
        width: 100vw;
        left: 0;
        flex-shrink: 0;

        //margin-top: 20px;
        .footer__content {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            height: 200px;
            width: 60%;
            margin-left: 223px;

            .footer__contacts {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                height: 200px;
                margin-top: 80px;

                .telephone {
                    position: relative;
                    height: 100%;

                    a {
                        color: $accent;
                        font-size: 34px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 34px;
                        letter-spacing: normal;
                        text-align: center;
                    }
                }

                .email {
                    position: relative;
                    height: 100%;

                    a {
                        color: $accent;
                        font-size: 34px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 34px;
                        letter-spacing: normal;
                        text-align: center;
                    }
                }
            }

            .footer__socials {
                display: block;
                flex-flow: row nowrap;
                justify-content: space-between;
                width: 100%;
                height: 100px;
                margin: 60px 0 0 0;

                ul {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;

                    li {
                        padding: 20px;

                        a {
                            text-transform: uppercase;
                            color: $clear;
                            font-size: 11px;
                            font-weight: 500;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 11px;
                            letter-spacing: 0.8px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .contact-us {
        width: 100vw;
        //height: 800px;
        height: 100vh;
        border: solid thin transparent;

        .footer {
            width: 100vw;

            .footer__content {
                width: 80%;
                margin-left: 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .contact-us {
        width: 100vw;
        //min-height: 800px;
        height: 100vh;
        border: solid thin transparent;

        .contact__us__content {
            width: 80%;
            height: auto;
            margin-left: 0;
            @include push--auto;
            margin-bottom: 50px;

            .main__title {
                width: 100%;
                height: auto;
                margin-top: 220px;

                h1 {
                    color: $clear;
                    font-size: 48px;
                }
            }

            .description {
                p {
                    color: $clear;
                    font-size: 22px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.55;
                    letter-spacing: 0.1px;
                }
            }
        }

        .footer {
            position: absolute;
            bottom: 0;
            background: $brand;
            height: 243px;
            width: 100vw;
            left: 0;
            margin-top: 20px;
            bottom: 0;

            .footer__content {
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                height: 200px;
                width: 80%;
                margin-left: 0;
                @include push--auto;

                .footer__contacts {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    height: 200px;
                    margin-top: 80px;

                    .telephone {
                        position: relative;
                        height: 100%;

                        a {
                            font-size: 24px;
                        }
                    }

                    .email {
                        position: relative;
                        height: 100%;

                        a {
                            font-size: 24px;
                        }
                    }
                }

                .footer__socials {
                    display: block;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    width: 100%;
                    height: 100px;
                    margin: 60px 0 0 -20px;

                    ul {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: flex-start;

                        li {
                            padding: 20px;

                            a {
                                text-transform: uppercase;
                                color: $clear;
                                font-size: 11px;
                                font-weight: 500;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 11px;
                                letter-spacing: 0.8px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .contact-us {
        .contact__us__content {
            margin-bottom: 100px;
            width: 80%;
            margin: 0 auto;

            .main__title {
                width: 100%;
                height: auto;
                margin-top: 200px;

                h1 {
                    font-size: 44px;
                    line-height: 1.13;
                    margin-bottom: 25px;
                }
            }

            .description {
                width: 100%;

                p {
                    font-size: 20px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.55;
                    letter-spacing: 0.1px;
                }
            }
        }

        .footer {
            background: $brand;
            height: 300px;
            width: 100vw;
            left: 0;
            bottom: 0;

            .footer__content {
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                height: 100%;
                width: 80%;
                margin: 0 auto;

                .footer__contacts {
                    flex-flow: column nowrap;
                    margin-bottom: 40px;

                    .telephone {
                        a {
                            color: $accent;
                            font-size: 22px;
                        }
                    }

                    .email {
                        a {
                            font-size: 22px;
                            text-decoration: underline;
                        }
                    }
                }

                .footer__socials {
                    width: 100%;
                    margin: 0 auto;

                    ul {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: flex-start;

                        li {
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 475px) {
    .contact-us {
        .contact__us__content {
            margin-bottom: 100px;
            width: 80%;
            margin: 0 auto;

            .main__title {
                width: 100%;
                height: auto;
                margin-top: 180px;

                h1 {
                    font-size: 40px;
                    line-height: 1.13;
                    margin-bottom: 15px;
                }
            }

            .description {
                width: 100%;

                p {
                    font-size: 16px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.55;
                    letter-spacing: 0.1px;
                }
            }
        }

        .footer {
            background: $brand;
            height: 300px;
            width: 100vw;
            left: 0;
            bottom: 0;

            .footer__content {
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                height: 100%;
                width: 80%;
                margin: 0 auto;

                .footer__contacts {
                    flex-flow: column nowrap;
                    margin-bottom: 40px;

                    .telephone {
                        a {
                            color: $accent;
                            font-size: 22px;
                        }
                    }

                    .email {
                        a {
                            font-size: 22px;
                            text-decoration: underline;
                        }
                    }
                }

                .footer__socials {
                    width: 100%;
                    margin: 0 auto;

                    ul {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;

                        li {
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}

// @media screen and (max-height:640px) {
//     .contact-us {
//         .contact__us__content {
//             position: relative;
//             width: 80%;
//             height: auto;
//             @include push--auto;
//             margin-bottom: 50px;
//             flex: 1 0 auto;
//             //min-height: 540px;
//             .main__title {
//                 width: 100%;
//                 height: auto;
//                 margin-top: 150px;
//                 h1 {
//                     font-size: 48px;
//                     margin-bottom: 10px;
//                 }
//             }
//             .description {
//                 width: 100%;
//                 p {
//                     color: $clear;
//                     font-size: 18px;
//                     font-weight: 500;
//                     font-style: normal;
//                     font-stretch: normal;
//                     line-height: 1.55;
//                     letter-spacing: 0.1px;
//                 }
//             }
//         }
//         .footer {
//             height: 150px;
//             .footer__content {
//                 height: 100px;
//                 width: 80%;
//                 margin-left: 0px;
//                 @include push--auto;
//                 .footer__contacts {
//                     height: 70px;
//                     margin-top: 20px;
//                     justify-content: flex-start;
//                     .telephone {
//                         position: relative;
//                         height: 70px;
//                         padding-right: 30px;
//                         a {
//                             font-size: 18px;
//                             line-height: 18px;
//                         }
//                     }
//                     .email {
//                         position: relative;
//                         height: 70px;
//                         a {
//                             font-size: 18px;
//                             line-height: 18px;
//                         }
//                     }
//                 }
//                 .footer__socials {
//                     display: flex;
//                     flex-flow: row nowrap;
//                     justify-content: flex-start;
//                     width: 80%;
//                     height: 20px;
//                     margin: 0;
//                     ul {
//                         display: flex;
//                         flex-flow: row nowrap;
//                         justify-content: flex-start;
//                         li {
//                             padding-right: 20px;
//                             padding-top: 0;
//                             &:first-child {
//                                 padding-left: 0;
//                             }
//                             &:last-child {
//                                 padding-right: 0px;
//                             }
//                             a {
//                                 text-transform: uppercase;
//                                 color: $clear;
//                                 font-size: 11px;
//                                 font-weight: 500;
//                                 font-style: normal;
//                                 font-stretch: normal;
//                                 line-height: 11px;
//                                 letter-spacing: 0.8px;
//                                 text-align: center;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }