button {
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
}
.btn {
  outline: 0;
  border: none;
  height: 50px;
  width: 174px;
  &.view__case__study {
    &:before {
      @include pseudo;
      width: 172px;
      height: 39px;
      border: 1px solid #fff;
      border-right: 0;
      top: 0;
      left: 0;
      @include transition(left 200ms ease-in-out);
    }
    &:after {
      @include pseudo;
      width: 172px;
      height: 50px;
      border: 1px solid #fff;
      border-left: 0;
      top: -6px;
      left: 10px;
      @include transition(left 200ms ease-in-out);
    }
    &:hover {
      &:before {
        left: -4px;
      }
      &:after {
        left: 14px;
      }
    }
  }
}
