@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}
@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}
@mixin transform($transform...) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}
@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -ms-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}
@mixin cover {
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin contain {
  background-size: contain;
  background-repeat: no-repeat;
}

%luminous-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: luminosity;
  @include cover;
  overflow: hidden;
}
